.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 20px;
    background:white;
    border-bottom:1px solid #ddd;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.docs-logo {
    width:24px;
}

.document-title {
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.share-btn {
    background:#1a73e8;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}